@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Monserrat';
  src: url('./assets/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/Inter-VariableFont_slnt.ttf');
}

body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply tracking-wide text-gray-700;
}

code {
  font-family: 'Monserrat', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn {
  @apply bg-primary border-primary hover:text-primary hover:border-primary min-h-0 rounded-full border font-semibold capitalize leading-4 text-white transition-all duration-150 ease-in-out hover:bg-white;
}

.btn-light {
  @apply border-primary text-primary hover:border-primary hover:bg-primary focus:border-primary h-9 rounded-full border bg-white px-5 text-xs transition-all duration-150 ease-in-out hover:text-white focus:outline-none;
}
