@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Monserrat';
  src: url('./assets/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/Inter-VariableFont_slnt.ttf');
}

body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-white tracking-wide text-gray-700;
}

code {
  font-family: 'Monserrat', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn {
  @apply min-h-0 px-5 text-xs font-semibold capitalize leading-4 tracking-widest;
}

.btn-primary {
  @apply bg-primary border-primary focus-visible:shadow-button dark:focus-visible:shadow-dark-button hover:bg-primary hover:border-primary rounded-full border font-semibold leading-4 text-white hover:text-white active:shadow-none;
}

.btn-secondary {
  @apply border-primary text-primary hover:border-primary focus:border-primary focus-visible:shadow-button hover:text-primary dark:bg-dark dark:border-dark-line dark:text-dark-text rounded-full border bg-white focus:outline-none active:shadow-none;
}

.btn-light {
  @apply dark:bg-dark-modal dark:border-dark-modal dark:text-dark-text rounded-xl border-gray-100 bg-gray-100 text-gray-600 hover:border-gray-100 hover:bg-gray-200 focus-visible:border-gray-500;
}
